
/*
Type Selectors
*/

body {
	padding-top: 10vh;
}

img {
	max-width:100%;
	max-height:100%;
}


/*
Class Selectors
*/

.navbar {
	height: 10vh;
}


.fill-browser {
	height: 90vh;
}

.project-title {
	height: 15vh;
}

.project-info {
	height: 75vh;
}

.has-background-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


.about {
	background-image: url("../images/mountain.jpg");
}

.contact {
	background-image: url("../images/mountain.jpg");
}

/*
Mixed Selectors
*/

a.anchor {
	display: block;
	position: relative;
	top: -10vh;
	visibility: hidden;
}

/*
ID Selectors
*/
