/*
Some Font Ideas
font-family: 'Merriweather', serif; Proper like Times New Roman, but with more style; +verticality
font-family: 'Noto Sans', sans-serif; Not showy, very simple
font-family: 'Literata', serif; Again proper, but somewhat more victorian
font-family: 'Lora', serif; Thinned text
font-family: 'Crimson Text', serif; Even more slimmed down text 

Should have a good BOLD text, a good Title/Heading text, and good "every other" text

*/



/* General Selectors */

body {
	padding-top: 10vh;
	font-family: 'Lora', serif;
	font-size: calc(0.9rem + 0.1vw);
}


ul {
	display: inline-block;
}

.icon-link {
	min-height: 40px;
	height: 40px;
	width: 40px;
}

.fill-browser {
	height: 90vh;
}

a.anchor {
	display: block;
	position: relative;
	top: calc(-10vh + 1px);
	visibility: hidden;
}




/* Navbar Selectors */

.navbar {
	background-image: linear-gradient(to right, rgba(22, 91, 156, 1), rgba(130, 185, 237, 1));
	height: 10vh;
	font-family: 'Literata';
	font-size: calc(1rem + 0.2vw);
}


.navbar a {
	color: white;
	font-family: 'Merriweather';
}

.navbar-light a {
	color: white !important;
}


/* "About Section" Selectors */

.about {
	background-image: linear-gradient(to right, rgba(22, 91, 156, 1), rgba(130, 185, 237, 1));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.about img {
	max-height: 400px;
}

.about h1 {
	font-family: 'Merriweather';
	font-style: bold;
	font-size: calc(2.2rem + 2.2vw);

}

.about h3 {
	font-size: calc(1rem + 1vw);
	padding-bottom: 2vh;
}

.about p {
	font-size: calc(1rem + 0.1vw);
}


/* "Skills Selection" Selectors */

.skills {
	/* background-image: linear-gradient(to bottom, #27a2b3, #5cccdb); */
	background-color: #c8e1fa;
	text-align: center;
}

.skills h2 {
	font-size: calc(2rem + 2vw);
}

.skills hr {
	height: 2px;
	width: 200px;
	color: black;
	background-color: black;
	margin-top: 0.05em;
	margin-bottom: 20vh;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* placeholder size */
	font-size: calc(1rem + 0.5vw);
	text-align: left;
}





/* "Project Section" Selectors*/
.projects {
	text-align: center;
}

.projects .title-row{
	height: 15vh;
}

.projects .title-row h2{
	font-size: calc(2rem + 2vw);
}

.projects .carousel {
	margin: 0 auto;
	width: 70vw;
}

.projects .carousel-inner img{
	height: 70vh;
}



.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-image: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0, 0, 0, 0.2));
}

/* "Contact Section" Selectors*/

.contact {
	text-align: center;
}

.contact-info {
	background-image: linear-gradient(to bottom, #ffffff, rgba(130, 185, 237, 1));
	height: 80vh;
}

.contact a {
	text-decoration: none;
}

.contact h2 {
	font-size: calc(2rem + 2vw);
}

.contact hr {
	height: 2px;
	width: 200px;
	color: black;
	background-color: black;
	margin-top: 0.05em;
	margin-bottom: 5vh;
}

.contact ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* placeholder size */
	font-size: calc(1rem + 1vw);
	text-align: left;
}

.contact-footer {
	background-color: rgba(130, 185, 237, 1);
	height: 10vh;
}
