/*
Some Font Ideas
font-family: 'Merriweather', serif; Proper like Times New Roman, but with more style; +verticality
font-family: 'Noto Sans', sans-serif; Not showy, very simple
font-family: 'Literata', serif; Again proper, but somewhat more victorian
font-family: 'Lora', serif; Thinned text
font-family: 'Crimson Text', serif; Even more slimmed down text 

Should have a good BOLD text, a good Title/Heading text, and good "every other" text

*/



/* General Selectors */

body {
	padding-top: 10vh;
	font-family: 'Lora', serif;
	font-size: calc(0.9rem + 0.1vw);
}

img {
	max-width: 100%;
	min-height: 100px;
	max-height: 360px;
}

ul {
	display: inline-block;
}

.fill-browser {
	height: 90vh;
}

a.anchor {
	display: block;
	position: relative;
	top: calc(-10vh + 1px);
	visibility: hidden;
}




/* Navbar Selectors */

.navbar {
	background-image: linear-gradient(to top, rgba(36, 36, 36, 1), rgba(55, 55, 55, 1));
	height: 10vh;
	font-family: 'Literata';
	font-size: calc(1rem + 0.2vw);
}

.icon-link {
	min-height: 40px;
	height: 40px;
	width: 40px;
}




/* "About Section" Selectors */

.about {
	background-image: linear-gradient(to right, rgba(22, 91, 156, 1), rgba(130, 185, 237, 1));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.about h1 {
	font-family: 'Merriweather';
	font-style: bold;
	font-size: calc(2.2rem + 2.2vw);

}

.about h3 {
	font-style: italic;
	font-size: calc(1rem + 1vw);
	padding-bottom: 2vh;
}

.about p {
	font-size: calc(1rem + 0.1vw);
}


/* "Skills Selection" Selectors */

.skills {
	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(138, 181, 203, 1));
	text-align: center;
}

.skills h2 {
	font-size: calc(2rem + 2vw);
}

.skills hr {
	height: 2px;
	width: 200px;
	color: black;
	background-color: black;
	margin-top: 0.05em;
	margin-bottom: 30vh;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* placeholder size */
	font-size: calc(1rem + 1vw);
}





/* "Project Section" Selectors*/

.project-title {
	height: 15vh;
	text-align: center;
	font-size: calc(2rem + 2vw);
}

.project-info {
	height: 75vh;
}

.project-description p {
	font-size: calc(2rem + 2vw);
}

.project-description li {
	font-size: calc(1rem + 1vw);
}




/* "Contact Section" Selectors*/

.contact {
	text-align: center;
}

.contact-info {
	background-image: linear-gradient(rgba(220, 169, 137, 1), rgba(211, 146, 111, 1));
	height: 75vh;
}

.contact h2 {
	font-size: calc(2rem + 2vw);
}

.contact ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	/* placeholder size */
	font-size: calc(1rem + 1vw);
}

.contact-footer {
	background-color: rgba(211, 146, 111, 1);
	height: 15vh;
}
